* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: url("travel.jpg") no-repeat center center;
    background-size: cover;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(0, 0, 0, 0.5);
}

#chk1 {
    display: none;
}

i {
    color: #18c91b;
    cursor: pointer;
}

header ul {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #10b020;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 23px;
}

header ul li a:hover {
    border-bottom: 2px solid rgb(7, 106, 7);
}

header .menu {
    display: none;
}

@media(max-width: 1000px) {
    header ul {
        position: fixed;
        top: 100px;
        right: -100%;
        background: rgba(0, 0, 0, 0.8);
        height: calc(100vh - 100px);
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: right 0.5s linear;
        padding: 20px 0;
    }

    header ul li {
        padding: 15px 0;
        margin: 0;
    }

    header ul li a {
        font-size: 1.5em;
    }

    header .menu {
        display: block;
        font-size: 2em;
    }

    #chk1:checked ~ ul {
        right: 0;
    }
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 100vh;
    color: #fff;
}

.hero-section .content {
    z-index: 1;
}

.hero-section h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.hero-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

form {
    z-index: 1;
}

.search-bar {
    width: 100%;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
}

::placeholder {
    color: #fff;
}

.search-bar button img {
    width: 25px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #032b97d7;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 768px) {
    body {
        font-size: 16px;
    }

    .container {
        width: 100%;
    }

    .hero-section h1 {
        font-size: 2em;
    }

    .search-bar {
        flex-direction: column;
        padding: 20px;
    }

    .search-bar input {
        margin-bottom: 10px;
        padding: 15px;
        font-size: 1em;
    }

    .search-bar button {
        width: 100%;
        border-radius: 30px;
    }
}
