*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    width: 100%;
    min-height: 100vh;
}

header{
    width: 100%;
    min-height: 100vh;
    background: url('travel.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 20px;
}
.container{
    width: 90%;
    height: 60px;
    background: white;
    margin: 0 auto;
    padding: 0 30px;
    border-radius: 30px;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list li{
    display: inline;
    margin-right: 25px;
    font-size: 15px;
    font-weight: 700;
}
.nav-list{
    display: none;
}
.menu-icon{
    font-size: 24px;
    font-weight: 700;
}
.logo{
    font-size: 30px;
}
.hero-section .content{
    position: absolute;
    width: 100%;
    top: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
}
.content h1{
    font-size: 25px;
    font-weight: 700;
}
form{
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, rgb(151, 151, 72) , rgb(73, 73, 113));
    width: 100%;
}